<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="shortcut icon" href="http://craftquest.blue/favicon.ico" type="image/x-icon">
        <link rel="icon" href="http://craftquest.blue/favicon.ico" type="image/x-icon">
        
        <link rel="stylesheet" type="text/css" href="http://craftquest.blue/css/index.css">
        <title> Yinn </title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="http://craftquest.blue/index.twig">YINN <span class="sr-only">(current)</span></a>
                        <i class="fa fa-user"></i>
                        <!--<a class="nav-item nav-link" href="#">My Yinn</a>-->
                    </div>
                </div>
            </nav>
        </header>

        {% block mainContent %}

        {% endblock %}

         <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2019 Yinn AS</p>
            <ul class="list-inline" >
                <li class="list-inline-item">
                    <a href="#"> Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#"> Support</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.innit.no/"> Contact</a>
                </li>
            </ul>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous">
        </script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous">
        </script>

    </body>
</html>